.MenuSuperior{
    width: 100%;
    height: 50px;
    background-color: rgb(252, 221, 221);
    font-family: sans-serif;
    border: 2px solid black;
    display: inline-block;
}

#titulo{
    width:65%;
    height: 20px;
    font-family: sans-serif;
    float: center;
    align-items: center;
    display: flex;
    font-size: 25px
}

#ayuda{
    width:12%;
    height: 30px;
    font-family: sans-serif;
    float: right;
    align-items: center;
    font-size: 12px
    text-align: center;
    justify-content: center;
    
}

#inicio{
    width: 12%;
    height:30px;
    font-family: sans-serif;
    float: right;
    align-items: center;
    display: flex;
    font-size: 12px
}

.Menu{
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    border: 2px solid black;
}

