body{
    margin:0;
    font-family: Arial, sans-serif;
}

.MenuSuperior{
    background-color: #f76b6b;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid black;
}

.botones{
    position: absolute;
    right: 20px;
    top: 40px;
    display: flex;
    gap:10px;
    padding:6px 12px;
    background-color: rgb(0, 0, 0);
}


.MenuBuscador{
    background: rgba(243, 230, 50, 0.514);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.Opciones{
    display:flex;
    gap:10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
}

.buscador{
    margin-left: auto;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 4px;
}
