.MenuSuperior{
    width: 100%;
    height: 50px;
    background-color: rgb(252, 221, 221);
    font-family: sans-serif;
    border: 2px solid black;
}

.boton{
    width: 15%;
    height: 25px;
    background-color:rgb(252, 221, 221);
    font-family: sans-serif;
    float: right;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Menu{
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    border: 2px solid black;
}

